* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  margin-top: 1rem;
  margin-left: 60%;
  list-style: none;
}

.section-card {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 2rem;
}

.card {
  border: solid 1px pink;
  border-radius: 1rem;
  margin: 2rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgb(204, 247, 210);
}

.card img {
  width: 50rem;
  height: auto;
  margin: auto;
}

.liste {
  display: inline-block;
  margin-right: 20px;
}

footer {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid;
}

.footerList ul {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footerList {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  height: 10rem;
  border-top: 0.125rem solid;
}

.footerImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

a {
  color: #887fff;
}
